*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* width: 100%; */
    min-width: 1440px;

}


@font-face {
    font-family: Inika;
    src: url("fonts/Inika-Regular.ttf");
   }
   @font-face {
    font-family: Inika-Bold;
    src: url("fonts/Inika-Bold.ttf");
   }

@font-face {
    font-family: Inter-Bold;
    src: url(fonts/Inter-Bold.ttf);
}
@font-face {
    font-family: Inter-Regular;
    src: url(fonts/Inter-Regular.ttf);
   }

   body {
    margin: 0;
    padding: 0;
    background-color: #EDF2EC;
    min-width: 1440px;
    /* width: 100%; */
}


.conteiner-header {
    width: 1440px;
    height: 135px;
    display: flex;
}

.navbar {
    width: 1220px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
    margin-left: 100px;
}


.conteiner-icon{
width: 80px;
height: 21px;
margin-top: 10px;
}

.conteiner-nav {
    width: 452px;
    height: 50px;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

.nav-link {
    text-decoration: none;
    color: #010201; 
    font-family: Inika;
    font-size: 16px;
}
.orange {
    color:#E06733; 
}
.nav-link:hover,
.nav-link:focus {
    color: #E06733; 
}


.welcome {
    height: 532px;
}

.welcome-section {
    width: 1220px;
    height: 408px;
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    
}

.image-welcome {
    width:448px ;
    height: 408px;
}

.text-welcome {
    width: 549px ;
    height: 340px;
    margin-left: 10px;
    margin-top: 20px;
}

h1 {
    font-family: Inter-Bold;
    color: #717171;
    font-size: 45px;
    line-height: 50px;
}
.green {
    color: #499A18;
}
.item-welcome {
    font-family: Inter-Regular;
    color: #636060;
    font-size: 20px;
    line-height: 35px;
    margin-top: -15px;
}

.btn-1 {
    width: 158px ;
    height: 44px;
    background-color:#EDF2EC;
    border: solid 2px;
    border-color: #E06733;
    border-radius: 10px;
    margin-top: 20px;
    text-transform:uppercase;
}

.about {
    background-color: #ffffff;
    height: 666px;
    width: 1440px;
}

.about-section {
    background-color: #ffffff;
    width: 1220px;
    height: 480px;
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    padding-top: 93px;
}

.text-about {
    width: 605px;
    height: 348px;
    padding-top: 65px;
}

.heading-about {
    font-family: Inika;
    color: #499A18;
    font-size: 40px;
    line-height: auto;
    width: 463px;
}

.item-about {
    font-family: Inter-Regular;
    color: #636060;
    font-size: 20px;
    line-height: 30px;
    width: 605px;
    height:208px;
}

.image-about {
    width: 464px;
    height: 479px;
}

.service {
    width:1440px;
    height:1300px;
    background-color: #EDF2EC;
}


.blok-servis-content {
    width:1007px;
    height:94px;
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    margin-top: 40px;

}

.text-servis {
    width: 306px;
    height: 94px;
}

.heading-servis {
    font-family: Inika;
    color: #499A18;
    font-size: 40px;
    line-height: auto;
    margin: 0;
}

.btn-servis {
    display: flex;
    justify-content: space-between;
    width: 560px;
    height: 50px;

}

.btn-2,
.btn-3, 
.btn-4 {
    width: 161px;
    height: 50px;
    border: solid 1px;
    border-color: #E06733;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #EDF2EC;
    color: #E06733;
    font-family: Inter-Regular;
    font-size: 20px;
    line-height: auto;

}


.item-servis {
    width:330px;
    height:450px;
    border: solid 1px;
    border-color: #E3E1D5;
    border-radius: 20px;
   
}

.heading-photo {
    font-family: Inter-Bold;
    color: #E06733;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.text-photo { 
    font-family: Inter-Regular;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    text-align: center;
}


.blok-servis-photo {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    gap: 100px;
    margin-left: 116px;
    margin-top: 90px;
}
.women2,
.flowerpot,
.cactus {
        margin-top: -55px;
}



.prices {
    background-color: #ffffff;
    width: 1440px;
    height: 560px;
}

.prices-wrapper {
    display: flex;
    justify-content: space-between;
}


.blok-prices {
    width: 332px;
    height: 390px;
    margin-left: 110px;

}

.heading-prices {
    font-family: Inter-Bold;
    color: #000;
    font-size: 40px;
    line-height: auto;
    text-align: start;

}

.btn-prices {
    width: 332px;
    height: 282px;
    border: solid 1px;
    border-color: #D9D9D9;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    
}

.btn-5,
.btn-6,
.btn-7 {
    width: 250px;
    height: 50px;
    border: solid 1px;
    border-color: #D9D9D9;
    border-radius: 30px;
    background-color: #EDF2EC;
    display: flex;
    flex-direction:row;
    justify-content: space-around;

    
}

.btn-text {
    font-family: Inter-Bold;
    color: #000;
    font-size: 20px;
    line-height: 20px;
}

.accordion-img {
    margin-top: 20px;
}

.textCallAs {
    width: 455px;
    height: 190px;
    position: relative;


}

.heading-prices-text {
    font-family: Inter-Bold;
    color: #000;
    font-size: 40px;
    line-height: 50px;
    text-align: end;
}

.btn-8 {
    width: 162px;
    height: 50px;
    border: solid 1px;
    border-color: #E06733;
    color:#E06733 ;
    border-radius: 10px;
    background-color: #ffffff;
    font-family: Inika-Bold;
    font-size: 20px;
    margin-left: 295px;
    margin-top: 38px;

}

.prices-leafs {
    width: 152px;
    height: 175px;
    margin-left: 295px;
    margin-top: 60px;
}

.blok-text-prices{
    margin-right: 110px;
}


.contacts-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    height: 490px;
    margin-left: 110px;
    margin-top: 50px;

}
.contacts-photo {
    width:400px ;
    height:500px;
    margin-top: -8px;
}
/* .contacts-heading {
    width: 195px;
    height: 55px;
} */
.heading-contacts {
    font-family: Inika-Bold;
    font-size: 40px;
    color: #499A18;
    margin-top: 10px;
}

.contacts-btn {
    margin-top: 100px;
}
.btn-9 {
    width: 450px;
    height: 50px;
    background-color: #D6E7D2;
    box-shadow: -3px 3px 5px #AEA1A1;
    border: none;
    display: flex;
    justify-content: space-between;
}

.btn-contacts {
    color: #717171;
    font-family: Inter-Regular;
    font-size: 20px;
    line-height: 40px;
    margin-left: 20px;
    margin-top: 5px;
}

.accordion-contacts {
    margin-top: 17px;
    margin-right: 17px;
}
footer {
    width: 1440px;
    height: 130px;
    background-color: #ffffff;
}

.footer-wrapper {
    width: 1220px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    padding-top: 40px;
}

.footer-year-github {
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.github-link,
.shcool-link,
.footer-item {
    font-family: Inter-Regular;
    font-size: 20px;
    line-height: 40px;
    color:#000000;
    text-decoration: none;

}

ul li {
    display:inline-block;
    padding-left: 20px;
}