*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: 100%;
    min-width: 1440px;

}


@font-face {
    font-family: Inika;
    src: url("fonts/Inika-Regular.ttf");
   }

@font-face {
    font-family: Inter-Bold;
    src: url(fonts/Inter-Bold.ttf);
}
@font-face {
    font-family: Inter-Regular;
    src: url(fonts/Inter-Regular.ttf);
   }

   body {
    margin: 0;
    padding: 0;
    background-color: #EDF2EC;
    min-width: 1440px;
}


.conteiner-header {
    width: 1440px;
    height: 135px;
    display: flex;
}

.navbar {
    width: 1220px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
    margin-left: 100px;
}


.conteiner-icon{
width: 80px;
height: 21px;
margin-top: 10px;
}

.conteiner-nav {
    width: 452px;
    height: 50px;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

.nav-link {
    text-decoration: none;
    color: #010201; 
    font-family: Inika;
    font-size: 16px;
}
.orange {
    color:#E06733; 
}
.nav-link:hover,
.nav-link:focus {
    color: #E06733; 
}


.welcome {
    height: 532px;
}

.welcome-section {
    width: 1220px;
    height: 408px;
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    
}

.image-welcome {
    width:448px ;
    height: 408px;
}

.text-welcome {
    width: 549px ;
    height: 340px;
    margin-left: 10px;
    margin-top: 20px;
}

h1 {
    font-family: Inter-Bold;
    color: #717171;
    font-size: 45px;
    line-height: 50px;
}
.green {
    color: #499A18;
}
.item-welcome {
    font-family: Inter-Regular;
    color: #636060;
    font-size: 20px;
    line-height: 35px;
    margin-top: -15px;
}

.btn-1 {
    width: 158px ;
    height: 44px;
    background-color:#EDF2EC;
    border: solid 2px;
    border-color: #E06733;
    border-radius: 10px;
    margin-top: 20px;
    text-transform:uppercase;
}

.about {
    background-color: #ffffff;
    height: 666px;
}

.about-section {
    background-color: #ffffff;
    width: 1220px;
    height: 480px;
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    padding-top: 93px;
}

.text-about {
    width: 605px;
    height: 348px;
    padding-top: 65px;
}

.heading-about {
    font-family: Inika;
    color: #499A18;
    font-size: 40px;
    line-height: auto;
    width: 463px;
}

.item-about {
    font-family: Inter-Regular;
    color: #636060;
    font-size: 20px;
    line-height: 30px;
    width: 605px;
    height:208px;
}

.image-about {
    width: 464px;
    height: 479px;
}
