



@media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #EDF2EC;}
    .wrapper {
        max-width: 768px;
        margin: auto;}
    .conteiner-header {
        max-width: 768px;
        height: 117px;
    }
    .navbar {
        width: 668px;
        height: 47px;
        margin-top: 36px;
        margin-left: 0px;}
    .conteiner-icon{ /*почти не изменилось*/
        width: 77px;
        height: 21px;
        /* margin-top: 15px; */}
    .conteiner-nav { /*почти не изменилось*/
        width: 452px;
        height: 47px;}
    .welcome {
        max-width: 768px;
        height: 420px;}
    .welcome-section {
        max-width: 668px;
        height: 310px;
        flex-direction: row-reverse;
        margin-left: 0px;}
    .image-welcome {
        max-width:280px ;
        height: 254px;
        margin-top: 50px;
        margin-left:0px;}
    .image-leafs {
        max-width:280px ;
        height: 254px;
    }
    .text-welcome {
        max-width: 346px ;
        /* height: 310px; */
        /* margin-left: 10px;
        margin-top: 62px; */}
    h1 {
        font-family: Inter-Bold;
        color: #717171;
        font: normal bold 35px/50px "Inter", sans-serif;}
    
    .item-welcome {
        font: normal 400 16px/25px "Inter", sans-serif;
        /* padding-top: 5px; */ }
   
        
                        /* секция about  */

    .about {
    background-color: #ffffff;
    height: 783px;
    max-width: 768px;
    }
    
    .about-section {
        background-color: #ffffff;
        max-width: 768px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 0px;
        padding-top: 93px;
    }
    
    .text-about {
        max-width: 668px;
        height: 350px;
        /* padding-top: 35px; */ }
    .heading-about {
        font: normal 400 35px/45px "Inika", serif;
        color: #499A18;
        max-width: 432px;
        text-align: center; }
    
    .item-about {
        font: normal 400 20px/30px "Inter", sans-serif;
        color: #636060;
        max-width: 668px;
        height:208px;
        /* padding-top: 2px; */
    }
    
    .image-about {
        width: 250px;
        height: 258px;
    }
    .image-houseplant{
        max-width: 100%;
    }
    

/* секция service  */

.service {
    max-width:768px;
    height:1780px;
    background-color: #EDF2EC;
}

.blok-servis-content {
    max-width:559px;
    height:185px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 40px;

}
/* .text-servis {
    max-width: 306px;
    height: 94px; */

.heading-servis {
    font: normal 400 35px/45px "Inika", serif;
    /* color: #499A18;
    margin: 0; */
}
.btn-servis {
    display: flex;
    justify-content: space-between;
    max-width: 559px;
    height: 50px;
    /* margin-top: 8px; */
}
.btn-2,
.btn-3, 
.btn-4 {
    width: 161px;
    height: 50px;
    border: solid 1px;
    border-color: #E06733;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #EDF2EC;
    color: #E06733;
    font: normal 400 20px/26px "Inika", sans-serif;
}

.blok-servis-photo {
    max-width: 668px;
    display: grid;
    grid-template-columns: repeat(2, 280px);
    gap: 40px 106px;
    margin-left: 0px;
    /* margin-top: 90px; */
}
.blok-servis-photo>div>img {
    width: 280px;
    height: 350px;
}
.blok-servis-photo>div {
    width: 281px;
    height:450px;
    border: solid 1px;
    border-color: #E3E1D5;
    border-radius: 20px;
}
.heading-photo {
    font: normal bold 20px/20px "Inter", sans-serif;
    color: #E06733;
    text-align: center;
    /* margin-top: 5px;
    margin-left: 2px; */
}
.women2,
.flowerpot,
.cactus {
        margin-top: 0px;
}
.text-photo { 
    font: normal 400 16px/20px "Inter", sans-serif;
    color: #717171;
    text-align: center;
}


/* секция prices  */


.prices {
    background-color: #ffffff;
    max-width: 768px;
    height: 585px;
    /* margin-top: -38px; */
}
.prices-wrapper {
    display: flex;
    justify-content: space-between;
}

.blok-prices {
    max-width: 332px;
    height: 380px;
    margin-left: 0px;
}

.heading-prices {
    color: #000;
    text-align: start;
    margin-top: 36px;
    font: normal 700 35px/42px "Inter", sans-serif;
}

.btn-prices {
    margin-top:0px;
    
}
.btn-5,
.btn-6,
.btn-7 {
    width: 250px;
    height: 50px;
    border: solid 1px;
    border-color: #D9D9D9;
    border-radius: 25px;
    background-color: #EDF2EC;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 38px;
    padding-right: 38px;

}

/* .btn-text {
    font: normal 700 20px/20px "Inter", serif;
    color: #000; */

.textCallAs {
    width: 296px;
    height: 160px;
    position: relative;}


.blok-text-prices{
    margin-right: 0px;
}


.heading-prices-text {
    font: normal bold 25px/35px "Inter", sans-serif;
}
.btn-8 {
    margin-left: 0px;
    margin-top: 9px;
}
.prices-leafs {
    width: 152px;
    height: 175px;
    margin-left: 0px;
    margin-top: 38px;
}

/* секция contact */

.contacts {
    margin-top:5px;
    width: 768px;
}
.contacts-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 0px;

}
.contacts-photo {
    width:200px ;
    height:250px;
    margin-top: -8px;
    order: 3;
}
.contacts-photo >img {
    width:200px ;
    height:250px;
}

.heading-contacts {
    font: normal 700 40px/52px "Inika", sans-serif;
    color: #499A18;
    margin-top: -3px;
    margin-left: 0px;
}
.contacts-heading {
    order: 1;
}
.contacts-btn {
    margin-top: 0px;
    order: 2; 
}
.btn-9 {
    width: 450px;
    height: 50px;
    background-color: #D6E7D2;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border: none;
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-top: 5px;
}
.btn-contacts {
    color: #717171;
    font: normal normal 20px/45px "Inter", serif;
    margin-left: 20px;
    margin-top: -13px;
}

.accordion-contacts {
    margin-top: 12px;
    margin-right: 26px;
}

/* секция footer */

footer {
    max-width: 768px;
    height: 181px;
    background-color: #ffffff;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
}
.footer-data{
    display: flex;
    gap: 20px;
    font: normal 400 20px/24px 'Inter', sans-serif;
}

.footer-shcool{
    font: normal 400 20px/24px 'Inter', sans-serif;
    text-align: center;
    padding-left: 0px;
    margin-top: 0px;
 }


.social-list{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    margin-top: 0px;
    }


}



  
  @media (max-width: 380px) {}
  @media (max-width: 320px) {}
