@media (max-width: 380px) {

    .conteiner {
        max-width: 380px;
        margin: 0 auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    .conteiner-header {
        height: 96px;
    }

    .conteiner-nav {
        display: none;
    }
    .burger-menu {
        display:block;
        z-index: 1;
    }
    

/* секция welcome  */
    .welcome {
        height: 300px;
    }
    .welcome-section {
        height: inherit;
        display: flex;
        gap:inherit;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-left: inherit;
        padding-top: inherit;
    }
    .image-welcome {
        display: none;
    }
    .text-welcome {
        max-width: 330px ;
        height: 252px;
        margin-left: inherit;
        margin-top: inherit;
    }
    h1 {
        font: normal bold 25px/35px "Inter", sans-serif;
    }
    .item-welcome {
        font: normal 400 16px/25px "Inter", sans-serif;
        padding-top: inherit;
        padding-left: inherit;
    }
    .btn-1 {
        margin-top: inherit;
    }
    

    /* секция about  */

.about {
    height: 516px;
}
.about-section {
    height: 455px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 0px;
    align-items: center;
    gap: 22px;
}
.text-about {
    height: 307px;
    padding-top: 0px;
    max-width: inherit;
}
.heading-about {
    font: normal 400 25px/32px "Inika", serif;
    height: 58px;
    width: 288px;
    margin-left: 0px;
}
.item-about {
    font: normal 400 15px/25px "Inter", sans-serif;
    height:228px;
    padding-top: 0px;
    width: inherit;

}
.image-about {
    width: 150px;
    height: 147px;
}
.image-houseplant{
    max-width: 100%;
}


/* секция service  */


.service {
    height:3150px;
}
.blok-servis-content {
    width:100%;
    height:185px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 0; 
    gap: 13px;
    padding-top: 0px;
}

.heading-servis {
    font: normal 400 25px/32px "Inika", serif;
    margin: 0;
    }
.text-servis {
    width: 187px;
    height: 69px; }

.btn-servis {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 252px;
    height: 79px;
    margin-top: 0px;
}
.btn-2,
.btn-3, 
.btn-4 {
    width: 121px;
    height: 35px;
    border: solid 1px;
    border-color: #E06733;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #EDF2EC;
    color: #E06733;
    font: normal 400 15px/19px "Inika", sans-serif;
}
.blok-servis-photo {
    display: grid;
    grid-template-columns: repeat(1, 280px);
    gap: 34px;
    margin-left: 25px;
    margin-top: 70px;
}
/* .blok-servis-photo>div>img {
    width: 280px;
    height: 350px;
}
.blok-servis-photo>div {
    width: 281px;
    height:450px;
}
.heading-photo {
    margin-top: 2px;
    margin-left: 2px;
}

.text-photo { 
    margin-left: auto;
    margin-right: auto;
    width: 201px;
} */

/* секция prices  */


.prices-wrapper {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.prices {
    height: 512px;
}
.btn-prices {
    width: 225px;
    height: 235px;
    margin-left: 50px;
}

.price-select {
    border: 0px;
    border-radius: 20px;
    font: normal 700 15px/20px "Inter", serif;
    padding: 16px 25px;
    width: 180px;
    height: 50px; 
}
.blok-prices {
    gap: 15px; /*проверить*/
    height: 305px;
}
.heading-prices {
    margin-top: 25px;
    font: normal 700 25px/30px "Inter", sans-serif;
    margin-left: 0px;
    text-align: center;
}
.blok-text-prices{
    gap: 14px;
    margin-top: 0px;
    align-items: center;
    width: 230px;
    margin-left: 40px;
}
.heading-prices-text {
    font: normal bold 20px/35px "Inter", sans-serif;
    text-align: center;
}
.prices-leafs {
    display: none;
}
.btn-5 {
    width: 121px;
    height: 35px;
    font: normal 400 15px/20px "Inika", sans-serif;
}

/* секция contact */

.contacts {
    height: 445px;
}
.contacts-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 80px;
    justify-content: space-between;
    padding-top: 0px;
    height: 100%;
}
.select-city {
    order: 2;
    margin-top: 0px;
    margin-top: -50px; /*подумать*/
}
.contacts-photo {
    order: 3;
    width:100px ;
    height:125px;
    margin-left: 12px;
}
.contacts-photo >img {
    width:100px ;
    height:125px;
}

.heading-contacts {
    font: normal 700 25px/32px "Inika", sans-serif;
    color: #499A18;
    margin-top: 25px;
    margin-left: 0px;
}
.select-city {
    width: 300px;
    height: 50px;
    padding: 0 20px;
    margin-top: 0px;
    font: normal normal 20px/40px "Inter", serif;
}


/*секция footer*/


    .footer {
        height: 146px;
    }
    .footer-container {
        /* height: 117px;
        width: 210px; */
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        padding: 30px;
    }
    
    .footer-data{
        display: flex;
        gap: 20px;
        margin-top: 0px;
        font: normal 400 20px/24px 'Inter', sans-serif;
    }
    .footer-shcool{
        font: normal 400 20px/24px 'Inter', sans-serif;
        text-align: center;
        padding-left: 0px;
        margin-top: 0px;
     }
    .social-list{
        display: flex;
        list-style: none;
        gap: 20px;
        align-items: center;
        margin-left: -40px; /* подумать*/
        }
        


}