*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
   body {
    margin: 0;
    padding: 0;
    background-color: #EDF2EC;
}

.wrapper {
    max-width: 1440px;
    margin: auto;
}

.conteiner-header {
    max-width: 1440px;
    height: 135px;
    display: flex;
}

.navbar {
    width: 1220px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    margin-left: 110px;
}

.conteiner-icon{
width: 80px;
height: 21px;
margin-top: 15px;
}

.conteiner-nav {
    width: 452px;
    height: 50px;
}

.navigation {
    margin-left: -40px;
}
.navigation-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

.nav-link {
    text-decoration: none;
    color: #010201; 
    font: normal normal 16px/32px "inika", serif;
}
.orange {
    color:#E06733; 
}
.nav-link:hover,
.nav-link:focus {
    color: #E06733; 
}

.welcome {
    height: 532px;
}
.welcome-section {
    max-width: 1220px;
    height: 408px;
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
}
.image-welcome {
    max-width:448px ;
    height: 408px;
    margin-top: 50px;
    margin-left: -15px;
}
.text-welcome {
    max-width: 549px ;
    height: 340px;
    margin-left: 10px;
    margin-top: 62px;
}

h1 {
    font-family: Inter-Bold;
    color: #717171;
    font: normal bold 45px/50px "Inter", sans-serif;
}
.green {
    color: #499A18;
}
.item-welcome {
    font: normal 400 20px/35px "Inter", sans-serif;
    color: #636060;
    padding-top: 5px;
}

.btn-1 {
    width: 158px ;
    height: 44px;
    background-color:#EDF2EC;
    border: solid 2px;
    border-color: #E06733;
    border-radius: 10px;
    margin-top: 30px;
    text-transform:uppercase;
    cursor: pointer;
    font: normal 400 16px/20px "Inter", sans-serif;
}

.btn-1:hover,
.btn-2:hover,
.btn-3:hover,
.btn-4:hover,
.btn-8:hover {
  border-radius: 7px;
  background-color: #e06733;
  color: white;
  border-style: solid;
  transition: 0.5s;
}

.about {
    background-color: #ffffff;
    height: 666px;
    width: 1440px;
}

.about-section {
    background-color: #ffffff;
    max-width: 1220px;
    height: 480px;
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    padding-top: 93px;
}

.text-about {
    max-width: 605px;
    height: 348px;
    padding-top: 35px;
}

.heading-about {
    font: normal 400 40px/53px "Inika", serif;
    color: #499A18;
    width: 463px;
}

.item-about {
    font: normal 400 20px/30px "Inter", sans-serif;
    color: #636060;
    width: 605px;
    height:208px;
    padding-top: 2px;
}

.image-about {
    width: 464px;
    height: 479px;
}

.service {
    max-width:1440px;
    height:1300px;
    background-color: #EDF2EC;
}

.blok-servis-content {
    max-width:1007px;
    height:94px;
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    margin-top: 40px;

}
.text-servis {
    max-width: 306px;
    height: 94px;
}
.heading-servis {
    font: normal 400 40px/52px "Inika", serif;
    color: #499A18;
    margin: 0;
}
.btn-servis {
    display: flex;
    justify-content: space-between;
    width: 560px;
    height: 50px;
    margin-top: 8px;
}
.btn-2,
.btn-3, 
.btn-4 {
    width: 161px;
    height: 50px;
    border: solid 1px;
    border-color: #E06733;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #EDF2EC;
    color: #E06733;
    font: normal 400 20px/26px "Inika", sans-serif;
}
.item-servis {
    width:330px;
    height:450px;
    border: solid 1px;
    border-color: #E3E1D5;
    border-radius: 20px;
}
.heading-photo {
    font: normal bold 20px/20px "Inter", sans-serif;
    color: #E06733;
    text-align: center;
    margin-top: 5px;
    margin-left: 2px;
}

.text-photo { 
    font: normal 400 16px/20px "Inter", sans-serif;
    color: #717171;
    text-align: center;
}

.blok-servis-photo {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    gap: 115px;
    margin-left: 109px;
    margin-top: 90px;
}
.women2,
.flowerpot,
.cactus {
        margin-top: -60px;
}

.prices {
    background-color: #ffffff;
    max-width: 1440px;
    height: 556px;
    margin-top: -38px;
}
.prices-wrapper {
    display: flex;
    justify-content: space-between;
}

.blok-prices {
    max-width: 332px;
    height: 390px;
    margin-left: 110px;
}

.heading-prices {
    color: #000;
    text-align: start;
    margin-top: 36px;
    font: normal 700 40px/48px "Inter", sans-serif;
}

.btn-prices {
    width: 332px;
    height: 282px;
    border: solid 1px;
    border-color: #D9D9D9;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;
    margin-top:60px;
    
}
.btn-5,
.btn-6,
.btn-7 {
    width: 250px;
    height: 50px;
    border: solid 1px;
    border-color: #D9D9D9;
    border-radius: 25px;
    background-color: #EDF2EC;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 38px;
    padding-right: 38px;

}

.btn-text {
    font: normal 700 20px/20px "Inter", serif;
    color: #000;
}

.textCallAs {
    width: 455px;
    height: 190px;
    position: relative;
}

.heading-prices-text {
    font: normal bold 40px/50px "Inter", sans-serif;
    color: #000;
    text-align: end;
}
.btn-8 {
    width: 162px;
    height: 50px;
    border: solid 1px;
    border-color: #E06733;
    color:#E06733 ;
    border-radius: 5px;
    background-color: #ffffff;
    font: normal 400 20px/26px "Inika", sans-serif;
    margin-left: 293px;
    margin-top: 9px;
}
.prices-leafs {
    width: 152px;
    height: 175px;
    margin-left: 295px;
    margin-top: 38px;
}

.blok-text-prices{
    margin-right: 110px;
}

.contacts {
    margin-top:5px;
}
.contacts-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    height: 490px;
    margin-left: 109px;
    margin-top: 60px;

}
.contacts-photo {
    width:400px ;
    height:500px;
    margin-top: -8px;
}

.heading-contacts {
    font: normal 700 40px/52px "Inika", sans-serif;
    color: #499A18;
    margin-top: -3px;
    margin-left: 66px;
}
.contacts-btn {
    margin-top: 100px;
}
.btn-9 {
    width: 450px;
    height: 50px;
    background-color: #D6E7D2;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border: none;
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-top: 5px;
}
.btn-contacts {
    color: #717171;
    font: normal normal 20px/45px "Inter", serif;
    margin-left: 20px;
    margin-top: -13px;
}

.accordion-contacts {
    margin-top: 12px;
    margin-right: 26px;
}
footer {
    max-width: 1440px;
    background-color: #ffffff;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 109px;
}
.footer-data{
    display: flex;
    gap: 20px;
    font: normal 400 20px/40px 'Inter', sans-serif;
}

.footer-shcool{
    font: normal 400 20px/40px 'Inter', sans-serif;
    text-align: center;
    padding-left: 55px;
    margin-top: -14px;
 }


.social-list{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
    }

.social,
.link {
   text-decoration: none;
   color: #010201;
      }


      /* @media (max-width: 768px) {
        .wrapper {
            max-width: 768px;
            margin: auto;}
            .conteiner-header {
                max-width: 768px;
                height: 117px;
                display: flex;
            }
            .navbar {
                width: 1220px;
                height: 50px;
                display: flex;
                justify-content: space-between;
                margin-top: 36px;
                margin-left: 110px;}



      }
      
      @media (max-width: 380px) {}
      @media (max-width: 320px) {} */
